@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");

:root {
  --primary: #032541;
  --secondary: #21d07a;
  --white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0;
  margin: 0;
}

header {
  background-color: var(--primary);
}

header .inner-content {
  color: var(--white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}

header .nav-links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

header .list {
  display: inline-block;
  margin-right: 30px;
}

button {
  display: inline-block;
  color: var(--white);
  background-color: var(--primary);
  font-size: 1em;
  text-align: center;
  padding: 5px 10px;
  border: 10;
  margin: 10px 0;
}
.movies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

@media (max-width: 800px) {
  .movies {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .movies {
    grid-template-columns: 1fr;
  }
}
